body{
    background-color: #9999;
}
main{
    text-align: center;
    font-family: sans-serif;
    background-color: #ffff;
    margin: 0px auto;
    height: 100% ;
    width: 1000px ;
}
#feno{
    color: red;
}
#umau{
    color: blue;
}
#ALL{
    float: none;
    width: 50%;
}
.icon{
    height: 50px;
    width: 50%;
}
.icon1{
    float: none;
    width: 50px;
}